/* This file is for your main application CSS */
@import "./phoenix.css";

textarea {
  width: 100%;
  background-color: transparent;
  border: 0px dotted transparent;
}

button {
  width: 96px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
}
